<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 style="font-size: 24px">
          <strong>Open EBC miner Pool</strong>
        </h1>
        <strong>Min. payout threshold: {{config.PayoutThreshold}}</strong>, Payouts run twice per day.<br/>
        <span class="label label-success">PROP</span> Stable and profitable pool with regular payouts.
      </div>
      <div class="col-md-3 stats">
        <div><i class="fa fa-users"></i> Miners Online: <span id="poolHashrate">{{format-number stats.model.minersTotal}}</span></div>
        <div><i class="fa fa-tachometer"></i> Pool Hash Rate: <span id="poolHashrate">{{format-hashrate stats.model.hashrate}}</span></div>
        <div><i class="fa fa-money"></i> Pool Fee: <span id="poolFee" class="label label-success">{{config.PoolFee}}</span></div>
        {{#if stats.model.stats.lastBlockFound}}
        <div><i class="fa fa-clock-o"></i> Last Block Found: <span>{{format-relative (seconds-to-ms stats.model.stats.lastBlockFound)}}</span></div>
        {{/if}}
      </div>
      <div class="col-md-4 stats">
        <div><i class="fa fa-unlock-alt"></i> Network Difficulty: <span>{{with-metric-prefix stats.difficulty}}</span></div>
        <div><i class="fa fa-tachometer"></i> Network Hash Rate: <span>{{format-hashrate stats.hashrate}}</span></div>
        <div><i class="fa fa-bars"></i> Blockchain Height: <span>{{format-number stats.height}}</span></div>
        <div><i class="fa fa-clock-o"></i> Current Round Variance: <span>{{format-number stats.roundVariance style='percent'}}</span></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="stats">
    <h4>Your Stats &amp; Payment History</h4>
    <div class="input-group">
      {{input value=cachedLogin class="form-control" placeholder="Enter Your Ethereum Address"}}
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" {{action 'lookup' cachedLogin}}>
          <span style="display: inline;"><i class="fa fa-search"></i> Lookup</span>
        </button>
      </span>
    </div>
  </div>
  <div>
    <hr/>
	<div>
			<h3 class="note note-info text-left">
				<span class="label label-primary"> Mining directly using ethminer</span>
			</h3>
			
			<ol>
				<li>
					<h4 class="label label-primary" > Download ethminer </h4>
					
					<ul>
					 <li>
						<a href="https://github.com/ethereum/webthree-umbrella/releases/download/v1.2.6/cpp-ethereum-windows-v1.2.6.exe">
							<span class="fa fa-windows" aria-hidden="true">&nbsp;Download for Window</span>
						</a>
					 </li>
					 <li>
						<a href="http://www.ethdocs.org/en/latest/ethereum-clients/cpp-ethereum/installing-binaries/linux-ubuntu-ppa.html">
							 <span class="fa fa-linux" aria-hidden="true">&nbsp;Download for Linux </span>
						 </a>
					 </li>
					 <li>
						<a href="https://github.com/ethereum/webthree-umbrella/releases/download/v1.2.6/cpp-ethereum-osx-yosemite-v1.2.6.dmg">
							 <span class="fa fa-apple" aria-hidden="true">&nbsp;Download for MacOS</span>
						</a>
					 </li>
					 <li>
						<a href="https://github.com/ethereum/webthree-umbrella/releases" rel="nofollow" target="_blank">
							<span class="fa fa-github" aria-hidden="true">
							&nbsp;Source code on Github
							</span>
						 </a>
					 </li>					 
					</ul>					
				</li>
				<li>
					<h4 class="label label-primary">Launch ethminer</h4>
					<p>
					Windows:<code>ethminer.exe -F {{config.HttpHost}}:{{config.HttpPort}}/address/worker -G --farm-recheck 200</code>    
					<br/>
					Unix:<code>./ethminer -F {{config.HttpHost}}:{{config.HttpPort}}/address/worker -G --farm-recheck 200</code>
					</p>
				</li>				
			</ol>	
	</div>
	<div>
	<h3 class="note note-info text-left">
        <span class="label label-primary"> Stratum Mining using a proxy </span>
   </h3>
   <ol>
		<li>
					<h4 class="label label-primary" > Download ethminer </h4>
					
					<ul>
					 <li>
						<a href="https://github.com/ethereum/webthree-umbrella/releases/download/v1.2.6/cpp-ethereum-windows-v1.2.6.exe">
							<span class="fa fa-windows" aria-hidden="true">&nbsp;Download for Window</span>
						</a>
					 </li>
					 <li>
						<a href="http://www.ethdocs.org/en/latest/ethereum-clients/cpp-ethereum/installing-binaries/linux-ubuntu-ppa.html">
							 <span class="fa fa-linux" aria-hidden="true">&nbsp;Download for Linux </span>
						 </a>
					 </li>
					 <li>
						<a href="https://github.com/ethereum/webthree-umbrella/releases/download/v1.2.6/cpp-ethereum-osx-yosemite-v1.2.6.dmg">
							 <span class="fa fa-apple" aria-hidden="true">&nbsp;Download for MacOS</span>
						</a>
					 </li>
					 <li>
						<a href="https://github.com/ethereum/webthree-umbrella/releases" rel="nofollow" target="_blank">
							<span class="fa fa-github" aria-hidden="true">
							&nbsp;Source code on Github
							</span>
						 </a>
					 </li>					 
					</ul>					
				</li>
		<li>
			<h4 class="label label-primary">Download proxy</h4>
			
			<ul>
				 <li>
					<a href="https://github.com/etherbanking/eth-proxy/files/1378343/eth-proxy-win-ebc.zip">
					   <span class="fa fa-windows" >Download for Window</span>
					</a>
				 </li>
				 <li>
					<a href="https://github.com/etherbanking/eth-proxy/files/1378342/eth-proxy-linux-ebc.zip">
						<span class="fa fa-linux" >Download for Unix </span>
					</a>
				 </li>					 
				 <li>
					<a href="https://github.com/etherbanking/eth-proxy/releases/tag/1.0" rel="nofollow" target="_blank">
						<span class="fa fa-github" aria-hidden="true">
						&nbsp;Source code on Github
						</span>
					</a>
				 </li>					 
			</ul>
			
			
		</li>		
		<li>
				<h4 class="label label-primary">Conifg proxy</h4>
				<p>Edit eth-proxy.conf and specify our pool's HOST: <code>{{config.HttpHost}} </code>PORT:<code>{{config.StratumHost}}</code> and your WALLET.</p>
				<code>
                    <span >WALLET = "your_wallet"</span> <br/>
                    <span >POOL_HOST = "{{config.HttpHost}}"</span><br/>
                    <span >POOL_PORT = {{config.StratumHost}}</span><br/>
                    <span >HOST = "0.0.0.0"</span><br/>
                    <span >PORT = 8080</span>
				</code>
		</li>
		<li>
				<h4 class="label label-primary">Launch proxy</h4>
				<p>Window: start execute file <code>eth-proxy.exe</code><br/>
				Linux run command <code> python eth-proxy.py </code>
				</p>
		</li>
		<li>
					<h4 class="label label-primary">Launch ethminer</h4>
					<p>
					Windows:<code>ethminer.exe -F {{config.HttpHost}}:{{config.HttpPort}}/address/worker -G --farm-recheck 200</code>    
					<br/>
					Unix:<code>./ethminer -F {{config.HttpHost}}:{{config.HttpPort}}/address/worker -G --farm-recheck 200</code>
					</p>
				</li>
   </ol>
		
	</div>

   



  </div>
</div>
